<div class="grid grid-cols-12 mt-2 px-3">

    <div class="col-span-12 flex items-center justify-center m-8 flex-col">
        <h1 class="text-gray-500">OUR SERVICES</h1>
        <span class="text-2xl font-extrabold text-center">Learn About Varrox Solutions Building</span>
        <p class="text-center">Build your Business success with areal System</p>
    </div>
    <div class="col-span-12 mx-8 lg:p-8 md:p-3 ">
        <div class="grid grid-cols-12 p-8">
            <div
                class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-center items-center p-4 bg- ">
                <img style="width: 80px; height: 80px;" src="../../../assets/images/Wep App Icon.png">
                <h2 class="font-bold text-xl mb-2">WEB APPLICATION</h2>
                <p class="text-center">Building web applications involves
                    designing, developing, and deploying
                    software that runs on web servers and
                    is accessible via web browsers.</p>
            </div>
            <div
                class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-center items-center p-4 bg- ">
                <img style="width: 80px; height: 80px;" src="../../../assets/images/DeskTop Icon.png">
                <h2 class="font-bold text-xl mb-2">Desktop APPLICATION</h2>
                <p class="text-center">Building desktop applications involves
                    creating software that is installed and
                    run locally on a user's computer.</p>
            </div>
            <div
                class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-center items-center p-4 bg- ">
                <img style="width: 80px; height: 80px;" src="../../../assets/images/WebSite Icon.png">
                <h2 class="font-bold text-xl mb-2">WEB SITE</h2>
                <p class="text-center">Building websites involves creating a
                    collection of interlinked web pages
                    hosted on a server, accessible via the
                    internet.</p>
            </div>
            <div
                class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-center items-center p-4 bg- ">
                <img style="width: 80px; height: 80px;" src="../../../assets/images/MobApp Icon.png">
                <h2 class="font-bold text-xl mb-2">MOBILE APPLICATION</h2>
                <p class="text-center">Building mobile applications involves
                    developing software specifically
                    designed to run on mobile devices
                    such as smartphones and tablets.</p>
            </div>
            <div class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-between bg-gray-100  p-4 ">
                <h2 class="font-bold text-lg mb-2">
                    Static Web Applications
                </h2>
                <ul class="list-disc px-8">
                    <li>Portfolio Websites</li>
                    <li>Informational Pages</li>
                </ul>
                <h2 class="font-bold text-lg mb-2">
                    Static Web Applications
                </h2>
                <ul class="list-disc px-8">
                    <li>E-commerce Sites</li>
                    <li>Social Networks</li>
                </ul>
            </div>
            <div class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-between bg-gray-100  p-4 ">
                <h2 class="font-bold text-lg mb-2">
                    Finance Software
                </h2>
                <ul class="list-disc px-8">
                    <li>ERP Accounting Systems</li>
                    <li>Managements Systems</li>
                </ul>
                <h2 class="font-bold text-lg mb-2">
                    Manufacturing Software
                </h2>
                <ul class="list-disc px-8">
                    <li>ERP Industries Systems</li>
                    <li>Materials Designing Systems</li>
                </ul>
            </div>
            <div class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-between bg-gray-100  p-4 ">
                <h2 class="font-bold text-lg mb-2">
                    Business Website
                </h2>
                <ul class="list-disc px-8">
                    <li>To represent Companies and
                        provide information about
                        products and services</li>

                </ul>
                <h2 class="font-bold text-lg mb-2">
                    Educational Website
                </h2>
                <ul class="list-disc px-8">
                    <li>Offer resources for learning</li>
                </ul>
            </div>
            <div class="lg:col-span-3 md:col-span-6 col-span-12 border flex flex-col justify-between bg-gray-100  p-4 ">
                <h2 class="font-bold text-lg mb-2">
                    Finance Apps
                </h2>
                <ul class="list-disc px-8">
                    <li>Managing Finances, banking,
                        investing and budgeting.</li>

                </ul>
                <h2 class="font-bold text-lg mb-2">
                    Productivity Apps
                </h2>
                <ul class="list-disc px-8">
                    <li>To manage tasks, schedules,
                        and productivity</li>
                </ul>
            </div>
            <div class="col-span-12">
                <div class="grid grid-cols-12">
                    <div class="col-span-9 bg-black text-white flex justify-center flex-col items-center p-3">
                        <div>
                            <h2 class="font-bold text-lg mb-2">
                                Ready to start your software development project?
                            </h2>
                            <p>Let’s discuss your requirements</p>
                        </div>
                    </div>
                    <div class="col-span-3 bg-[#E4BE03] text-white flex justify-center  items-center p-3">
                        <h2 class="font-bold text-lg mb-2 mx-3">
                            Learn More
                        </h2>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="brown" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>