/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";
// @import "primeicons/primeicons.css";
*{
    box-sizing: border-box;
}
@font-face {
    font-family: arabicFont;
    src: url('./assets/Noto_Kufi_Arabic/static/NotoKufiArabic-Regular.ttf');
}
@font-face {
    font-family: arabicFontBoild;
    src: url('./assets/Noto_Kufi_Arabic/static/NotoKufiArabic-ExtraBold.ttf');
}
body{
    margin: 0px !important;
    padding: 0px !important;
    // background:green;
   font-family: arabicFont !important;;
}
:host ::ng-deep .p-megamenu {
    padding: 0.5rem !important;
    background: unset !important;
    color: white !important;
    border: unset !important;
    border-radius: 6px !important;
    justify-content: space-between !important;
}

:host ::ng-deep .p-megamenu-horizontal {
    align-items: center !important;
    justify-content: space-between !important;
}
h1{
    font-family: arabicFontBoild !important;
}